.title{
    text-align: center;
    color: gr;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}

.title h2{
    color: rgb(0, 73, 34);
    font-size: 40px;
    margin-top: 5px;
    text-transform: none;
}