.footer{
    margin: 10px auto;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    border-top: ipx solid #797979;
    padding: 15px 0;
    background:linear-gradient(rgba(247, 255, 254, 0.7),rgba(255, 255, 255, 0.7),rgba(207, 251, 241, 0.7),rgba(128, 198, 182, 0.7))
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.box5 img{
    width: 30px;
    margin-right: 12px;

}

/* --- media query ---*/

@media(max-width:600px){
    .footer{
        display: block;
        text-align: center;
    }

    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
    .box5 {
        display: flex;
        align-items: center;
        background-color:  #e0fff9;
        color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out;
        width: 80%;
         
       }

    .fblist ul li a {
        
        text-decoration: none;
        color: #001902;
        font-weight: bold;
        transition: color 0.3s ease-in-out;
    }
}