@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: linear-gradient(to top, #ffffff, #fff);
}

:root{
    --big-colur: linear-gradient(to top, #dfffe1, #fff);
    --second-colur: linear-gradient(to top, #fcffdf, #fff);
    --text-colur:rgb(0, 142, 24);
    --text-colur2:rgb(0, 73, 34);
}

a{
    text-decoration: none;
    color: inherit;
    line-height:1 ;
    cursor: pointer;
}



.container{
    padding-left: 8%;
    padding-right: 8%;
}

.btn{
    background: rgb(255, 255, 255);
    color: rgb(0, 42, 20);
    padding: 14px 25px;
    font-size: 17px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display:inline-flex ;
    align-items: center;
    justify-content: center;

}

/* --- media query ---*/

@media (max-width:1200px){
  .container {
    padding-left: 5%;
    padding-right:5%;
  } 
  .btn{
    padding: 14px 22px;
  }
}